.form-control {
    padding-right: 0;
    padding-left: 0;
    border-width: 1px 0;
    border-color: transparent;
    border-bottom-color: #ddd;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f0f2f5;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}select.form-control {
    padding-right: 0;
    padding-left: 0;
    border-width: 1px 0;
    border-color: transparent;
    border-bottom-color: #ddd;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f0f2f5;
    padding: 0px;
    border-radius: 5px;
    font-weight: bold;
}
.help-inline{
    margin: 0 !important;
    float: left;
}
